/* IMPORT DES FONTS 
----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* STYLE DES COMPOSANTS
----------------------------------------------------*/

a 
{
	text-decoration: none; 
}

li 
{
	list-style: none; 
}

#photo-dev
{
	max-width:65%;
	height: auto;
	border-radius: 180px 180px 180px 180px;
	margin: 2.5rem auto 2.5rem auto;
	display: block;
	box-shadow: 0px 0px 10px;
}

/* 2.MISE EN PAGE GÉNÉRALE DESKTOP
----------------------------------------------------*/
body
{
	font-family: 'Roboto', sans-serif;
	color:#424242;
	max-width: 1190px;
	margin: auto;
}

header, .two_part
{
	display: flex;
	flex-direction: row-reverse;
}

.left_part, .header_left
{
	flex:1;
	background-color: #FB8C00;
	position: relative;
}

.right_part, .header_right
{
	flex:2;
}

.left--padding, section
{
	padding: 0 4rem 0 5.3rem;
}

section
{
	padding-bottom: 4rem;
}

aside
{
	padding: 0rem 0 2.5rem 0;
}

.left_part
{
	display: flex;
	flex-direction: column;

}

h6, .left_part p
{
	padding: 0 2rem 0 2rem;
	text-align: justify;
}

.about_me
{
	flex-grow: 1;

}

/* Partie de droite*/
.card_column
{
	display: flex;
}

.card_column_left
{
	flex:1;
}

.card_column_right
{
	flex:2;
}

.header_right
{
	margin: auto;
}
/* Les titres */

h1, h3, h4
{
	text-transform: uppercase;
	color: #212121;
}

h3
{
	font-size: 1.8em;
}

h4, h5
{
	color : #424242;
	font-size: 1.3em;
}

h6
{
	font-size: 1em;
	margin: 0.4em 0 -0.8em 0;
	font-weight: 300;
}
.right_part h3
{
	border-bottom: 2px solid #FB8C00;
}
.author_firstname
{
	color: #FB8C00;
}

.aside_title
{
	background-color: #424242;
	color: #FB8C00;
	text-align: center;
}



.reference_name
{
	font-size: 1em;
	text-transform: uppercase;
}
/* Le contenu de gauche*/

.contact_flex
{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

.flex
{
	display: flex;
	justify-content: space-around;
	font-size: 2.5em;
}

.icon-border
{
	padding: 10px;
	border: 1px solid black;
	border-radius: 100%;
}

i
{
	padding-right: 1rem;
}

ul
{
	padding: 0;
}
/* 2.MISE EN PAGE RESPONSIVE
----------------------------------------------------*/

@media all and (max-width: 768px)
{
	.two_part
	{
		display:block;
	}
}

@media all and (max-width: 425px)
{
	.header_right--padding, section 
	{
		padding: 0 1.0rem 0 1.0rem;
	}
	h3 
	{
		font-size: 1.5em;
	}
	.card_column 
	{
		display: block;
	}
	.left--padding, section 
	{
		padding: 0 0.2rem 0 0.2rem;
	}
}