/*1.MISE EN PAGE GÉNÉRALE DESKTOP
----------------------------------------------------*/

/* Les fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body
{
	font-family: 'Roboto', sans-serif;
}

/* Mise en page Flex et style des deux colonnes*/
#container
{
	max-width: 1190px;
}

header, .two_part
{
	display: flex;
}

.left_part, .header_left
{
	flex:1;
	background-color: #FB8C00;
}

.right_part, .header_right
{
	flex:2;
	margin: 0 5rem 0 4rem;
}

/* Les titres */

h3
{
	font-size: 23px;
	text-transform: uppercase;
}

.aside_title
{
	background-color: #424242;
	color: #FB8C00;
	height: 3rem;
	text-align: center;
}

hr
{
	border: none;
	height: 2px;
	background: #FB8C00;
}

/* Le contenu de gauche */

img
{
	width: 30px; /*réduction de l'image pour travailler sur le style sans déformer le reste, A REPRENDRE PAR LA SUITE*/
}

