/*1.MISE EN PAGE GÉNÉRALE DESKTOP
----------------------------------------------------*/

/* Les fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body
{
	font-family: 'Roboto', sans-serif;
}

/* Mise en page Flex et style des deux colonnes*/

#container, body
{
	max-width: 1190px;
}

header, .two_part
{
	display: flex;
}

.left_part, .header_left
{
	flex:1;
	background-color: #FB8C00;
	position: relative;
}

.right_part, .header_right
{
	flex:2;
	padding-left: 7.2%;

}

/* Partie de gauche */

img
{
	width: 50%;
	position: absolute;
	top:50%;
	left:50%;
	margin: -92px 0 0 -92;
}

.left_part
{
	display: flex;
	flex-direction: column;
}

.about_me
{
	flex-grow: 1;
}
/* Partie de droite*/
.card_column
{
	display: flex;
}

.card_column_left
{
	flex:1;
}

.card_column_right
{
	flex:2;
}
/* Les titres */

h1, h3, h4, h5
{
	text-transform: uppercase;
}

h1
{
	font-size: 43px;
}

.author_firstname
{
	color: #FB8C00;
}

h3
{
	font-size: 23px;
}

.aside_title
{
	background-color: #424242;
	color: #FB8C00;
	text-align: center;
}

.right_part h3
{
	border-bottom: 2px solid #FB8C00;
}

/* Le contenu de droite*/



